.c-Resume .ui.disabled.input,
.c-Resume input[disabled] {
    opacity: 1 !important;
    color: #333 !important;
}

.c-Resume .ui.disabled.textarea,
.c-Resume textarea[disabled]  {
    opacity: 1 !important;
    color: #333 !important;
    border: none;
}
